.loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__img {
    animation: spin 4s linear infinite;

    &_small {
      width: 103px;
      margin-top: 50px;
    }

    &_large {
      width: 475px;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
