.input__wrapper_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 14px;
  border: 1px solid #00000061;
  border-radius: 6px;
  color: #00000099;
  background-color: transparent;
  cursor: pointer;
}

.input__wrapper_form {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
  font-weight: 500;
}

.input__inner {
  max-width: 178px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 0;
}

.input {
  border: none;
  font: inherit; /* 👈 делает шрифт и line-height как у текста */
  color: inherit;
  line-height: 1; /* можно подогнать под текст */
  height: auto;
}

.input_small {
  /*font-size: 16px;*/
  width: 240px;
}

.input_big {
  /*font-size: 20px;*/
  width: 208px;
  /*height: 30px;*/
  /*line-height: 30px;*/
}

.input:hover,
.input:focus {
  outline: none;
  box-shadow: none;
}
