@use '../../styles/variables' as *;

.character-card {
  max-width: 508px;
  height: 248px;
  display: flex;
  column-gap: 12px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 4px;
  padding: 8px;
  border-radius: 6px;

  &__image-wrapper {
    width: 240px;
    height: 234px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__info {
    min-width: 240px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: $font-main;
    font-weight: 500;
  }

  &__title {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
  }

  &__name-link {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    max-width: 178px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    min-width: 0;

    &:hover {
      color: #12b800;
      text-decoration: underline;
    }
  }

  &__description {
    max-width: 115px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;
  }

  &__description-item {
    min-width: 115px;
    display: grid;
    row-gap: 7px;
    letter-spacing: 0.25px;
    white-space: nowrap;
  }

  &__description-title {
    font-size: 16px;
  }

  &__description-content {
    font-size: 14px;
    font-weight: 400;
    color: #0009;
    display: flex;
    align-items: center;
    gap: 4px;

    &-location {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 0;
      max-width: 240px;
    }
  }

  &__location-input {
    font-size: 14px;
    font-weight: 400;
    color: #0009;
    max-width: 178px;
  }

  &__name-input {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    max-width: 178px;
    overflow: hidden;
  }
}
