.error-page {
  padding: 40px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 32px;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 24px;
  }

  &__btn {
    padding: 10px 20px;
    border-radius: 8px;
  }
}
