.edit-buttons {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  display: flex;
  position: absolute;
  gap: 4px;
  right: 6px;
}

.editing {
  visibility: visible;
  opacity: 1;
}

.character-card:hover .edit-buttons {
  opacity: 1;
  visibility: visible;
}

.character-card__btn-icon {
  all: unset;
  cursor: pointer;
}

.character-card__btn-icon_edit {
  width: 24px;
}
