.edit-buttons {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  display: flex;
  position: absolute;
  gap: 4px;
  right: 6px;
}

.editing {
  visibility: visible;
  opacity: 1;
}

.character-card {
  &:hover {
    .edit-buttons {
      opacity: 1;
      visibility: visible;
    }
  }

  &__btn-icon {
    all: unset;
    cursor: pointer;

    &_edit {
      width: 24px;
    }
  }
}
