.layout {
  width: auto;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;

  &__main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1044px;
    margin-inline: auto;
  }
}
