#root {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}