.select {
  height: 56px;
  width: 240px;
}

.select-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100%;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  padding: 16px 14px;
  border: 1px solid #00000061;
  border-radius: 6px;
  color: #00000099;
  background-color: transparent;
  cursor: pointer;
}

.select-options {
  position: absolute;
  width: 100%;
  max-width: 240px;
  border: 1px solid #00000061;
  border-radius: 6px;
  background-color: #fff;
  z-index: 10;
  margin-top: 8px;
  padding: 0;
  list-style: none;
}

.select-option {
  padding: 10px 14px;
  cursor: pointer;
  color: #00000099;
  border-radius: 4px;
}

.select-option:hover {
  background-color: #f0f0f0;
}

.select-option.selected {
    background-color: #d0eaff;
}