.character-list {
  display: flex;
  flex-direction: column;
  padding-block: 42px;
  width: 100%;
  align-items: center;
  min-height: 100vh;

  &__cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 1050px;
    min-height: 465px;
    align-items: center;
  }

  &__cards-empty-list {
    font-size: 24px;
    font-weight: 500;
  }
}
