.character-list {
  display: flex;
  flex-direction: column;
  padding-block: 42px;
  width: 100%;
  align-items: center;
  min-height: 100vh;
}

.character-list__cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
