@use '../styles/variables' as *;

.character-details {
  height: 100%;
  width: 1050px;
  display: grid;
  grid-template-columns: 1fr 10fr 2fr;
  padding-top: 30px;
  padding-bottom: 30px;

  &__link {
    font-family: $font-second;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    padding-top: 30px;
  }

  &__link-icon {
    width: 24px;
    height: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  &__image {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;

    > img {
      height: 300px;
      width: 300px;
      border-radius: 150px;
      border: 5px solid #f2f2f7;
    }
  }

  &__info {
    width: 46%;
    margin-top: 3px;
    display: flex;
    flex-direction: column;

    > h1 {
      padding-left: 15px;
      text-align: center;
      font-size: 48px;
      font-weight: 400;
    }

    > span {
      padding-right: 35px;
      text-align: center;
      margin-top: 40px;
      font-size: 20px;
      font-weight: 500;
      color: #8e8e93;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 400px;
    margin-top: 45px;

    > div {
      border-bottom: 2px solid rgb(216, 214, 214);
      display: flex;
      padding-bottom: 10px;
      flex-direction: column;
      gap: 2px;
    }
  }
}
