.not-found__wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found {
  width: 540px;
  height: 459px;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__image {
  width: 100%;
  height: 333px;
  object-fit: contain;
}

.not-found__link {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  border-radius: 8px;
  width: 240px;
  height: 56px;
  border: 1px solid #000;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
