.footer {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 -4px 6px -4px rgba(0, 0, 0, 0.3);
}
