@use '@/styles/variables' as *;

.character-details {
  height: 100%;
  width: 100%;
  max-width: 1050px;
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  padding-top: 30px;
  padding-bottom: 30px;

  &__link {
    font-family: $font-second;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
    padding-top: 30px;
  }

  &__link-icon {
    width: 24px;
    height: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  &__image {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;

    > img {
      height: 300px;
      width: 300px;
      border-radius: 150px;
      border: 5px solid #f2f2f7;
    }
  }

  &__info {
    margin-top: 3px;
    display: flex;
    flex-direction: column;

    > h1 {
      padding-left: 15px;
      text-align: center;
      font-size: 48px;
      font-weight: 400;
    }

    > span {
      padding-right: 35px;
      text-align: center;
      margin-top: 40px;
      font-size: 20px;
      font-weight: 500;
      color: #8e8e93;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 400px;
    margin-top: 45px;

    > div {
      border-bottom: 2px solid rgb(216, 214, 214);
      display: flex;
      padding-bottom: 10px;
      flex-direction: column;
      gap: 2px;
    }
  }
}

@media (width <= 768px) {
  .character-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 20px 24px;

    &__link {
      font-size: 16px;
      padding-top: 0;
      margin-bottom: 8px;
    }

    &__content {
      align-items: center;
    }

    &__image {
      > img {
        height: 150px;
        width: 150px;
        border-radius: 75px;
        border: 4px solid #f2f2f7;
      }
    }

    &__info {
      width: 100%;
      margin-top: 8px;
      align-items: center;

      > h1 {
        padding-left: 0;
        font-size: 32px;
      }

      > span {
        padding-right: 0;
        margin-top: 20px;
        font-size: 16px;
      }
    }

    &__description {
      width: 100%;
      margin-top: 24px;
      gap: 10px;
    }
  }
}
