.header {
  display: flex;
  align-items: center;
  background-color: var(--surface-color);
  color: var(--text-color);
  width: 100%;
  height: 60px;
  box-shadow: 0 4px 6px -4px var(--shadow-color);
  justify-content: space-between;
  padding: 0 48px;

  &__logo {
    width: 46px;
    height: 49px;
  }

  &__switchers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }

  &__switcher-button {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--br-color);
    border-radius: 8px;
    background-color: var(--surface-color);
    color: var(--text-color);
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 24px;
  }
}
