.header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
}

.header__logo {
  width: 46px;
  height: 49px;
  margin-left: 210px;
}
