.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 60px;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  padding: 5px;

  &__logo {
    width: 46px;
    height: 49px;
    margin-left: 210px;
  }

  &__switchers {
    margin-right: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }

  &__switcher-button {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #fff;
  }
}
